@mixin responsive($max-screen-size) {
    @media (max-width: $max-screen-size) {
      @content;
    }
  }

$breakpoint-extra-small: 576px;
$breakpoint-small: 768px;
$breakpoint-medium: 992px;
$breakpoint-large: 1200px; 
$box-shadow-primary: 0 2px 10px rgba(0, 0, 0, 0.1);
$color-primary: #ff7e5f;
$color-background: #333;

/* General Styles */
body {
    font-family: Arial, sans-serif;
    color: $color-background;
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 32px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: $box-shadow-primary;
    margin-bottom: 10px;

    .logo {
        font-size: 24px;
        font-weight: bold;
        color: $color-primary;
    }

    .nav-links {
        list-style: none;
        padding: 0;

        @include responsive ($breakpoint-small) {
            display: flex;
            text-align: center;
            flex-direction: column;
        }
        
        li {
            display: inline-block;
            margin: 0 10px;
        }

        a {
            text-decoration: none;
            font-weight: bold;
        
            &:hover {
                color: $color-primary;
            }
        }
    } 
}

/* Primary Button */
.primary-btn {
    display: inline-block;
    padding: 15px 30px;
    cursor: pointer;
    
    font-size: 18px;
    font-weight: bold;
    color: white;

    text-decoration: none;
    border: none;
    border-radius: 8px;
    background: linear-gradient(45deg, $color-primary, #feb47b);

        &:hover {
            box-shadow: 0px 5px 15px rgba(255, 126, 95, 0.4);
        }
}


/* Main Section */
.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 10px;

    @include responsive ($breakpoint-small) {
        flex-direction: column;
    }
    
    .content {
        width: 50%;

        @include responsive ($breakpoint-small) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    h1 {
        font-size: 48px;
        color: $color-primary;

        @include responsive ($breakpoint-small) {
            text-align: center;
        }
    }

    p {
        font-size: 18px;

        @include responsive ($breakpoint-small) {
            text-align: center;
        }
    }

    img {
        width: 40%;

        @include responsive ($breakpoint-small) {
            width: 60%;
        }
    }
}

/* Features & Plans Sections */
.features {
    background: #f3f3f3;
}
.center-section {
    text-align: center;
    padding: 50px 10px;
}
.card-list {
    display: flex;
    justify-content: space-between;

    @include responsive ($breakpoint-small) {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
}
.card {
    background: white;
    padding: 20px;
    width: 27%;
    border-radius: 10px;
    box-shadow: $box-shadow-primary;

    @include responsive ($breakpoint-small) {
        width: 80%;
    }
}

/* Footer */
.footer {
    text-align: center;
    padding: 20px;
    background: $color-background;
    color: white;
}

